@namespace BibleComponents
@using Bible_Blazer_PWA.BibleReferenceParse
@using Bible_Blazer_PWA.DomainObjects
@inject BibleService Bible

<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            @ElementData.Value

            @if (@ElementData.Children != null)
            {
                <button type="button" class="btn @(IsOpen ? "btn-outline-primary" : "btn-outline-secondary")" style="display: inline;" @onclick="Toggle">...</button>
            }

            @if (HasBibleReferences)
            {
                <button type="button" class="btn btn-outline-primary" style="display: inline;" @onclick="ToggleReferences">..</button>
            }
        </h5>
        @if (HasBibleReferences)
        {
            <ul class="nav nav-tabs card-header-tabs" style="@((RefsAreOpen & IsOpen) ? "" : "display:none;")">
                @{
                    int counter = 0;
                }

                @foreach (BibleReference reference in BibleReferences)
                {
                    int number = counter++;
                    <li class="nav-item">
                        <a class="nav-link @(IsActive(number)?"active":"")" style="color:#007bff" @onclick="@(e => SetActive(e, number))">@reference.ToString()</a>
                    </li>
                }
            </ul>
        }
    </div>
    @{
        int counter1 = 0;
    }
    @foreach (BibleReference reference in BibleReferences)
    {
        int number = counter1++;
        <div class="card-body" style="@((IsActive(number) && RefsAreOpen && IsOpen) ? "":"display:none;") background-color:beige">
            @if (_versesLoaded)
            {
                foreach (BibleService.VersesView view in _versesViewsDictionary[reference.ToString()])
                {
                    <span class="badge badge-primary">@view.Badge</span>
                    <i>@view.RawText.Replace("<J>", "").Replace("</J>", "")</i>
                }
            }
            else
            {

            }
        </div>
    }

    @if (@ElementData.Children != null)
    {
        <div class="card-body" style="@(IsOpen ? "":"display:none;")">
            @foreach (LessonElementData data in ElementData.Children)
            {
                <LessonElement ElementData="data"></LessonElement>
            }
        </div>
    }

</div>

@code {
    private int activeNumber = 0;
    private bool _versesLoaded = false;
    protected bool RefsAreOpen { get; set; } = true;
    protected bool IsOpen { get; set; } = true;
    protected Dictionary<string, IEnumerable<BibleService.VersesView>> _versesViewsDictionary;

    protected LinkedList<BibleReference> _references;

    [Parameter]
    public LessonElementData ElementData { get; set; }


    [Parameter]                                          //TODO remove. It is redundant. However, getting disturbing compile errors. No regferences in the code
    public LessonElementData ComponentData { get; set; } //and cleaning up does not help

    protected override async Task OnInitializedAsync()
    {
        _versesViewsDictionary = new Dictionary<string, IEnumerable<BibleService.VersesView>>();
        LinkedList<Task> taskList = new LinkedList<Task>();
        foreach (BibleReference reference in BibleReferences)
        {
            var verseTask = Bible.GetVersesFromReference(reference);
            var verseInsertionTask = verseTask.ContinueWith(verseTask => { _versesViewsDictionary.Add(reference.ToString(), verseTask.Result); });
            taskList.AddLast(verseInsertionTask);

        }
        await Task.WhenAll(taskList).ContinueWith((async) => { _versesLoaded = true; });
    }

    public bool HasBibleReferences
    {
        get
        {
            return BibleReferences.Any();
        }
    }

    public LinkedList<BibleReference> BibleReferences
    {
        get
        {
            if (_references == null)
            {
                _references = new Parser().ParseTextLineWithBibleReferences(ElementData.Value.ToString()).GetBibleReferences();
            }
            return _references;
        }
    }

    void ToggleReferences()
    {
        RefsAreOpen = !RefsAreOpen;
    }

    void Toggle()
    {
        IsOpen = !IsOpen;
    }

    private void SetActive(MouseEventArgs e, int buttonNumber)
    {
        activeNumber = buttonNumber;
    }

    private bool IsActive(int buttonNumber)
    {
        return activeNumber == buttonNumber;
    }
}