@page "/"
@using Bible_Blazer_PWA.Services.Menu
@inject MenuService menu
@inject Bible_Blazer_PWA.DataBase.DatabaseJSFacade db;
@inject BibleService bible;


<MudExpansionPanels>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudText>Версия 0.5.7</MudText>
                <MudChip Color="Color.Success" Size="Size.Small">Текущая</MudChip>
            </div>
        </TitleContent>
        <ChildContent>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Поправлены некоторые уроки. </h5>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudText>Версия 0.5.6</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Доработаны ссылки на предыдущий и следующий уроки. </h5>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Error" Size="Size.Large" /> Улучшена производительность меню с планами.</h5>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudText>Версия 0.5.5</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Исправлены уроки из Исход-Соломон до Ииисуса Навина. </h5>
            <h5><MudIcon Icon="@Icons.Filled.CrisisAlert" Color="Color.Error" Size="Size.Large" /> Изменена внутренняя нумерация уроков. В связи с этим при обновлении с предыдущих версий предусмотрена очистка всех загруженных планов уроков.</h5>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Добавлена возможность устанавливать цвета в местах писания и меню.</h5>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudText>Версия 0.5.1</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Ссылки на места Писания прямо в тексте!</h5>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Изменен общий макет. Инструменты переехали в меню.</h5>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Исправлено некорректое поведение с переходом на предыдущий / следующий урок.</h5>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudText>Версия 0.4.4</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Добавлены номера стихов в местах Писания.</h5>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Добавлен параметр - стихи мест Писания с новой строки (В разделе визулальные - Места Писания ).</h5>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Доработан интерфейс страницы списка уроков.</h5>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudText>Версия 0.4.3</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Доработана загрузка из облака.</h5>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Изменена единица измерения отступа блоков - теперь целые значения от 0 до 200.</h5>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Доработан интерфейс страницы параметров.</h5>
            <MudIcon Icon="@Icons.Filled.TipsAndUpdates" Color="Color.Warning" Size="Size.Small" /> Можно загрузить урок из облака, если стандартный doc файл не загружается.<br />
            <MudIcon Icon="@Icons.Filled.TipsAndUpdates" Color="Color.Warning" Size="Size.Small" /> Загрузка из облака требует интернет соединения и скорость загрузки зависит от скорости вашего соединения (то есть может быть немного медленнее, чем загрузка из файла).<br />
            <MudIcon Icon="@Icons.Filled.TipsAndUpdates" Color="Color.Warning" Size="Size.Small" /> Можно редактровать документ на телефоне и загрузить в программу со своего устройства <br />
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudText>Версия 0.4.2</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <h5><MudIcon Icon="@Icons.Filled.FiberNew" Color="Color.Primary" Size="Size.Large" /> Добавлена возможность загружать урок в фомате docx.</h5> <br />
            <MudIcon Icon="@Icons.Filled.TipsAndUpdates" Color="Color.Warning" Size="Size.Small" /> Можно редактровать doc прямо на телефоне и сохранить в docx, например, используя Google Documents. <br />
            <MudIcon Icon="@Icons.Filled.TipsAndUpdates" Color="Color.Warning" Size="Size.Small" /> Пересохранение в docx может помочь обойти ошибку с нечитаемым doc-файлом
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>

@code{
    protected override void OnInitialized()
    {
        menu.Title = "О программе";
        menu.ClearMenuButtons();
        menu.Update(this);
    }
}


