@page "/lessonNew/{Id:int}/{UnitNumber:int}"
@inject Bible_Blazer_PWA.DataBase.DatabaseJSFacade db;
@namespace BibleComponents
@inject HttpClient Http
@inject DbParametersFacade DbParameters;
@using Bible_Blazer_PWA.DomainObjects;
@if (lesson != null)
{

    <Bible_Blazer_PWA.Components.FloatingComponent Top="0" Right="0">
        <button type="button" class="btn btn-outline-primary" style="display: inline;" @onclick="ToggleCollapse"><span class="oi @getGlobalToggleCollapseStyle()" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-outline-primary" style="display: inline;" @onclick="ToggleReferences"><span class="oi @getGlobalToggleRefsStyle()" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-outline-primary" style="display: inline;" @onclick="IncreaseFont">
            <span class="oi oi-text" aria-hidden="true"></span>
            <span class="oi oi-plus" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-outline-primary" style="display: inline;" @onclick="DecreaseFont"><span class="oi oi-text" aria-hidden="true"></span><span class="oi oi-minus" aria-hidden="true"></span></button>
    </Bible_Blazer_PWA.Components.FloatingComponent>

    var composite = lesson.GetComposite();
    <h3>@composite.Value</h3>

    foreach (LessonElementData data in composite.Children)
    {
        LessonElementData data1 = data;
        <CascadingValue Value="parameters">
            <LessonElement ElementData="data1"></LessonElement>
        </CascadingValue>
    }

    <NavLink class="nav-link" href="@($"/lessonNew/{Id-1}/{UnitNumber}")" Match="NavLinkMatch.All"><span class="oi oi-arrow-circle-left" aria-hidden="true"></span> Предыдущий урок</NavLink>
    <NavLink class="nav-link" href="@($"/lessonNew/{Id+1}/{UnitNumber}")" Match="NavLinkMatch.All"><span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Следующий урок</NavLink>
}

@code {
    [Parameter]
    public int Id { get; set; } = 0;

    [Parameter]
    public int UnitNumber { get; set; } = 1;

    public string ToolsBackgroundColor { get; set; } = "white";

    protected LessonContainerDb lesson;

    async protected override Task OnParametersSetAsync()
    {
        TaskCompletionSource taskCompletionSource = new TaskCompletionSource();
        var unitId = Unit.GetShortNameByUnitNumber(UnitNumber);
        var idStringified = Id.ToString();

        var resultHandler = await db.GetRecordFromObjectStoreByKey<LessonContainerDb>("lessons", unitId, Id.ToString());
        resultHandler.OnDbResultOK += () => { lesson = resultHandler.Result; taskCompletionSource.SetResult(); };
        await taskCompletionSource.Task;
    }

    protected async override Task OnInitializedAsync()
    {
        if (int.TryParse((await DbParameters.GetParameterAsync(DbParametersFacade.Parameters.FontSize)), out int fontSizeNew))
        {
            parameters.FontSize = fontSizeNew;
        }
    }

    void ToggleReferences()
    {
        parameters.AreReferencesOpened = !parameters.AreReferencesOpened;
    }

    async Task IncreaseFont()
    {
        var fontSizeParameter = DbParametersFacade.Parameters.FontSize;
        int newFontSize = 15;
        if (int.TryParse((await DbParameters.GetParameterAsync(DbParametersFacade.Parameters.FontSize)), out int fontSize))
        {
            newFontSize = fontSize + 1;
        }
        await DbParameters.SetParameterAsync(fontSizeParameter, $"{newFontSize}");
        if (int.TryParse((await DbParameters.GetParameterAsync(DbParametersFacade.Parameters.FontSize)), out int fontSizeNew))
        {
            parameters.FontSize = fontSizeNew;
        }
    }

    async Task DecreaseFont()
    {
        var fontSizeParameter = DbParametersFacade.Parameters.FontSize;
        int newFontSize = 15;
        if (int.TryParse((await DbParameters.GetParameterAsync(DbParametersFacade.Parameters.FontSize)), out int fontSize))
        {
            newFontSize = fontSize - 1;
        }
        await DbParameters.SetParameterAsync(fontSizeParameter, $"{newFontSize}");
        if (int.TryParse((await DbParameters.GetParameterAsync(DbParametersFacade.Parameters.FontSize)), out int fontSizeNew))
        {
            parameters.FontSize = fontSizeNew;
        }
    }

    void ToggleCollapse()
    {
        parameters.CollapseLevel = parameters.CollapseLevel switch
        {
            3 => 1,
            1 => 2,
            _ => 3
        };
    }

    private Parameters parameters = new()
        {
            AreReferencesOpened = true,
            CollapseLevel = 3,
            FontSize = 0
        };

    string getGlobalToggleCollapseStyle() => parameters.CollapseLevel switch
    {
        1 => "oi-media-stop",
        2 => "oi-grid-two-up",
        _ => "oi-grid-three-up"
    };

    string getGlobalToggleRefsStyle()
    {
        return parameters.AreReferencesOpened ? "oi-collapse-up" : "oi-collapse-down";
    }
}
