@page "/test"
@using BibleComponents

<h2>2.8.Дела Веры,Закона и Добрые дела.</h2>
<div class="container-fluid">
    <p>Вера Б. – правильное понимание и исполнение С.Б.,Завет,Хр.</p>
    <p>Дела веры – познание и передача С.Б.,Завета,Хр.           </p>
    <p>Дела закона – исполнение стандартов Божьих.               </p>
    <p>Добрые дела – помощь и служение творению Божьему.         </p>
</div>

@*<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            1)Вера Божья и дела веры – Б. воля для чел. Мк.11:23;Иак.2:20.
            <button type="button" class="btn btn-outline-primary" style="display: inline;" @onclick="onclick">..</button>
        </h5>
        <ul class="nav nav-tabs card-header-tabs" style="@(IsOpen ? "": "display:none;")">
            <li class="nav-item">
                <a class="nav-link @(IsOpen1?"active":"")" style="color:#007bff" @onclick="onclick1">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(IsOpen2?"active":"")" style="color:#007bff" role="button" @onclick="onclick2">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(IsOpen3?"active":"")" style="color:#007bff" role="button" @onclick="onclick3">Link</a>
            </li>
        </ul>
    </div>
    <div class="card-body" style="@(IsOpen1?"":"display:none;") background-color:">
        This is some text within a card body.This is some text within a card body.This is some text within a card body.
    </div>
    <div class="card-body" style="@(IsOpen2?"":"display:none;") background-color:beige">
        This is some text within a card body.This is some text within a card body.
    </div>
    <div class="card-body" style="@(IsOpen3?"":"display:none;") background-color:beige">
        This is some text within a card body.
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">(1)Быт.1:27;2:7,16-17;1:28; - вера Божья,Эммануил.</h5>
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link @(IsOpen1?"active":"")" style="color:#007bff" @onclick="onclick1">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(IsOpen2?"active":"")" style="color:#007bff" role="button" @onclick="onclick2">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(IsOpen3?"active":"")" style="color:#007bff" role="button" @onclick="onclick3">Link</a>
                    </li>
                </ul>
            </div>
            <div class="card-body" style="@(IsOpen1?"":"display:none;")">
                This is some text within a card body.This is some text within a card body.This is some text within a card body.
            </div>
            <div class="card-body" style="@(IsOpen2?"":"display:none;")">
                This is some text within a card body.This is some text within a card body.
            </div>
            <div class="card-body" style="@(IsOpen3?"":"display:none;")">
                This is some text within a card body.
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        (а)Дела веры – познание и передача С.Б.,Завета,Хр.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        (б)Дела закона – исполнение стандартов Божьих. Рим.2:14-15.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        (в)Добрые дела – помощь и служение творению Божьему, важность передачи С.Б.,Завета,Хр.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<Block Title="1)Вера Божья и дела веры – Б. воля для чел. Мар.11:23;Иак.2:20.">
    <Block Title="(1)Быт.1:27;2:7,16-17;1:28; - вера Божья,Эммануил.">
        (а)Дела веры – познание и передача С.Б.,Завета,Хр.
        (б)Дела закона – исполнение стандартов Божьих. Рим.2:14-15.
        (в)Добрые дела – помощь и служение творению Божьему,
        важность передачи С.Б.,Завета,Хр.
    </Block>
</Block>


@code {
    bool IsOpen1 { get; set; }
    void onclick1(MouseEventArgs e)
    {
        IsOpen1 = true;
        IsOpen2 = false;
        IsOpen3 = false;
    }

    bool IsOpen2 { get; set; }
    void onclick2(MouseEventArgs e)
    {
        IsOpen1 = false;
        IsOpen2 = true;
        IsOpen3 = false;
    }

    bool IsOpen3 { get; set; }
    void onclick3(MouseEventArgs e)
    {
        IsOpen1 = false;
        IsOpen2 = false;
        IsOpen3 = true;
    }

    bool IsOpen { get; set; } = true;
    void onclick(MouseEventArgs e)
    {
        IsOpen1 = false;
        IsOpen2 = false;
        IsOpen3 = false;
        IsOpen = !IsOpen;
    }
}

@code {

}
