@inherits LayoutComponentBase
@inject DbParametersFacade dbParamteres
@inject NavigationManager navigation
@inject MenuService menu
@using Bible_Blazer_PWA.Parameters;
@using Bible_Blazer_PWA.Services.Menu;
@using Bible_Blazer_PWA.Services.MudBlazorHelpers;

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    @{
        var appBarStyle = $"background-color:{parametersModel.ToolsBg}";
        bool isFixed = parametersModel.HideTools != "True";
    }

    <MudAppBar Color="Color.Inherit" Fixed="isFixed" Style="@appBarStyle">
        <MudIconButton Style=@ToolsAreHiddenCss Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <div style="overflow:hidden">@menu.Title</div>
        <MudSpacer />
        @foreach (var button in menu.Buttons)
        {
            <MudIconButton Icon="@menu.Buttons[button.Key].Icon" OnClick="@button.Value.Click" Color="Color.Inherit"></MudIconButton>
        }
        <MudMenu Icon="@Icons.Material.Filled.MoreVert">
            <MudMenuItem><MudNavLink Href="/">Планы уроков</MudNavLink></MudMenuItem>
            <MudMenuItem><MudNavLink Href="/setup">Параметры</MudNavLink></MudMenuItem>
        </MudMenu>
    </MudAppBar>
    <MudDrawer @bind-Open="@DrawerOpen">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Параметры</MudText>
        </MudDrawerHeader>
        <MudList>
            <MudListItem Text="Места Писания">
                <NestedList>
                    <MudListItem>
                        <MudSwitch @bind-Checked="@parametersModel.HideBibleRefTabs" Color="Color.Primary" Converter="@(new RegularStringToBoolConverter())">
                            @(parametersModel.HideBibleRefTabs == "True" ? "Режим для телефона" : "Режим для большого экрана")
                        </MudSwitch>
                    </MudListItem>
                </NestedList>
            </MudListItem>
        </MudList>
    </MudDrawer>


    @{
        var paddingTop = parametersModel.HideTools == "True" ? "padding-top:10px; " : "";
        var style = $"{paddingTop}background-color:{parametersModel.MainBackground}";
    }
    <MudMainContent Style="@style">
        @Body
    </MudMainContent>
</MudLayout>

@code
{
    private ParametersModel parametersModel;
    string ToolsAreHiddenCss { get { return navigation.Uri.Contains("lessonNew") ? "" : "display:none;"; } }
    string Header
    {
        get
        {
            var header = "О программе";
            if (navigation.Uri.Contains("lessons")) header = "Планы уроков";
            if (navigation.Uri.Contains("setup")) header = "Параметры";
            if (navigation.Uri.Contains("lessonNew")) header = "";
            var ret = string.IsNullOrEmpty(menu.Title) ? header : menu.Title;
            return header;
        }
    }
    protected async override Task OnInitializedAsync()
    {
        parametersModel = dbParamteres.ParametersModel;
        if (!navigation.Uri.Contains("lessonNew"))
        {
            _drawerOpen = false;
        }
        menu.OnUpdate += (s, e) => this.StateHasChanged();
        parametersModel.OnHideBibleRefTabs += async () =>
        {
            await Task.Delay(500);
            var currentUri = navigation.Uri;
            navigation.NavigateTo("/");
            navigation.NavigateTo(currentUri);
        };
    }

    bool _drawerOpen = false;
    bool DrawerOpen { get { return navigation.Uri.Contains("lessonNew") ? _drawerOpen : false; } set { _drawerOpen = value; } }
    bool addedNavigationChangedHandler = false;
    void DrawerToggle()
    {
        if (!addedNavigationChangedHandler)
        {
            navigation.LocationChanged += (s, e) =>
            {
                if (!e.Location.Contains("lessonNew"))
                { _drawerOpen = false; }
            };
            addedNavigationChangedHandler = true;
        }

        if (!navigation.Uri.Contains("lessonNew"))
        {
            _drawerOpen = false;
        }
        else
        {
            _drawerOpen = !_drawerOpen;
        }
    }
}
